[google] #sfooter,
[google] #bres .ULSxyf,
[google] [data-text-ad] {
    display: none !important;
}

[google] #searchform > div {
    justify-content: center;
}

[google] #tsf,
[google] #rcnt,
[google] #rcnt,
[google] #appbar,
[google] #hdtb-msb {
    --center-abs-margin: 0;
}

[google] #slim_appbar {
    display: flex;
    justify-content: center;
}

[google] #slim_appbar > div {
    width: 1000px;
    justify-content: flex-start;
}

[google] #rcnt:has(#rhs) {
    margin: 0 auto;
    justify-content: center;
}

[google] #rcnt:not(:has(#rhs)) {
    margin: 0 auto;
    flex-direction: column;
    width: calc(652px + var(--rhs-margin) + var(--rhs-width));
}

[google] #rcnt:not(:has(#rhs)) #center_col {
    flex-grow: 1;
    width: calc(652px + var(--rhs-margin) + var(--rhs-width));
}

[google] #top_nav #hdtb-msb {
    float: none;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
}

[google] #top_nav #hdtb #hdtbMenus {
    left: 0;
    right: 0;
    padding: 0;
    width: 1000px;
    margin: 0 auto;
    --center-abs-margin: 0;
}

[google] #top_nav #hdtb-msb #hdtb-tls {
    margin-right: 80px;
}
