[google] [data-text-ad] {
    display: none !important;
}

[google] #searchform > div:nth-child(2) {
    justify-content: center;
}

[google] #searchform > div:nth-child(2) > div {
    padding-left: 20px;
}

[google] #main #top_nav [role="navigation"] > div:first-child {
    display: flex;
    justify-content: center;
}

[google] #main #top_nav #hdtb-msb > div > div:first-child {
    margin: 0;
}

[google] #search > div div[data-hveid] {
    padding: 4px 8px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid rgb(235, 238, 245);
}

[google] #search div[data-q] div[data-hveid] {
    background-color: transparent;
}

div[data-q] > div:first-child > div:nth-child(2) {
    margin: 12px;
    transform: translate3d(0, 0, 0) !important;
}

[google] #search > div div[data-hveid] ul {
    padding: 0;
}

[google] #search [data-hveid] a[data-ved] {
    display: flex;
    position: relative;
    flex-direction: column;
}

[google] #search [data-hveid] a[data-ved] br,
[google] #search [data-hveid] a[data-ved] ~ div > div:first-child {
    display: none;
}

[google] #search [data-hveid] a[data-ved] ~ div > span {
    left: unset;
    /*right: 40px;*/
    padding: 0 4px;
    width: fit-content;
    border: 1px solid #909399;
    background-color: #909399;
}

[google] #search [data-hveid] a[data-ved] ~ div .action-menu {
    margin: 0;
}

[google] #search [data-hveid] a[data-ved] ~ div > div > span {
    top: 0;
    right: 96px;
    position: absolute;
}

[google] #search [data-hveid] a[data-ved] ~ div div > span:not([class*="go"]) {
    right: 0;
}

[google] #search [data-hveid] a[data-ved] ~ div > span span {
    color: white;
}

[google] #search [data-hveid] a[data-ved] ~ div > span:hover {
    background-color: #a6a9ad;
}

[google] #search [data-hveid] a[data-ved] ~ div g-popup div {
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
}

[google] #search [data-hveid] a[data-ved] ~ div g-popup span {
    right: 8px;
    padding: 1px;
}

[google] #search [data-hveid] a[data-ved] ~ div g-popup span span,
[google] #search [data-hveid] a[data-ved] ~ div > div svg {
    right: 0;
    position: relative;
}

[google] #search [data-hveid] a[data-ved] div {
    position: unset;
}

[google] #search [data-hveid] a[data-ved] ~ div {
    right: 0;
}

[google] #search > div div[data-hveid]:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .3);
}

[google] #main #rcnt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

[google] #main #rcnt #rhs > div {
    margin: 0;
    width: 100%;
}

[google] #main #rcnt > div:last-child {
    width: 0;
}

[google] #main #rcnt > div {
    margin: 0;
    width: 1024px;
    display: flex;
    justify-content: center;
}

[google] #main #rcnt > div #center_col {
    margin: 0;
    width: 1024px;
}

[google] #main #rcnt > div #center_col .g {
    margin: 0;
    padding: 4px;
    width: calc(100% - 8px);
}

[google] #main #rso > div {
    margin: 8px 0;
}

[google] #main #footcnt,
[google] #main #appbar {
    display: flex;
    justify-content: center;
}

[google] #main #footcnt div {
    max-width: 1024px;
}

[google] #main #footcnt > div,
[google] #main #appbar #extabar {
    width: 1024px;
}

[google] [id^='MEDIA_RESULT_GROUP_'] [data-hveid],
[google] [id^='WEB_ANSWERS_RESULT_'] [data-hveid],
[google] [id^='WEB_ANSWERS_STANDARD_RESULT_'] [data-hveid] {
    padding: 0 !important;
    border: none !important;
}

[google] [id^='MEDIA_RESULT_GROUP_'] [data-hveid]:hover,
[google] [id^='WEB_ANSWERS_RESULT_'] [data-hveid]:hover,
[google] [id^='WEB_ANSWERS_STANDARD_RESULT_'] [data-hveid]:hover {
    box-shadow: none !important;
}

[google] #search [data-q] [aria-expanded]:not(a) {
    background-color: #f2f2f2;
}

[google] #center_col [role="navigation"] {
    position: relative;
}

[google] #center_col [role="navigation"] #xjs {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

[google] #rhs #kp-wp-tab-cont-overview [data-attrid][data-lpage]:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .3);
}
