[google] #bres,
[google=iframe] > :not(#main),
[google=iframe] #cnt > :not(#rcnt),
[google=iframe] #center_col > :not(#res) {
    display: none !important;
}

[google] .tuner-page-frame {
    width: 1px;
    height: 1px;
    border: none;
}

[google=iframe] #cnt,
[google=iframe] #rcnt,
[google=iframe] #center_col {
    margin: 0;
    padding: 0;
}
