div.IpUXPc,
[id^='abss-dropdown_'] {
    display: none !important;
}

div.CvDJxb, div.sBbkle, div.qCqYBc {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.AQudDd {
    margin: 0 12px;
}

div.GyAeWb {
    margin: 0 auto;
}
