[aria-label=baidu-ad], nav a[href='/'],
nav a[href*='/app'], [aria-label=简书钻],
#note-page-comment ~ section, iframe,
[aria-label=ic-nav-mode], aside,
#__next section article ~ *, footer ~ *,
[class$='-mask'], [class$='-mask'] ~ div,
[aria-label=添加评论], [aria-label=添加评论] ~ div {
    display: none !important;
}

body {
    overflow: auto !important;
}

header + div > div > div:nth-child(1) {
    width: 100% !important;
}

footer textarea {
    width: 850px !important;
}

#__next section article {
    height: fit-content;
}
