.login-mark, .login-wrap,
.right-box, .news-nav,
.mod_fun_wrap, .hide_topic_box,
span.login, .bbs_detail_wrap ~ *,
#nav-left-menu li, .bbs_bread_wrap {
    display: none !important;
}

#left-box, #bbs_detail_wrap,
#bbs_title_bar, #nav-left-menu,
.topic_wrap .post_info,
#nav-left-menu .search_bar {
    width: 100% !important;
    overflow: inherit !important;
}

#nav-left-menu .search_bar .input_search {
    width: calc(100% - 60px) !important;
}

#nav-left-menu .search_bar {
    margin: 10px 0 !important;
}
