.displayNone {
    display: none;
}

.tuner-loading-layer {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    position: fixed;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, .5);
}

.tuner-loading-wrapper {

}

.tuner-loading-block {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 64px;
    height: 64px;
    margin: auto;
    line-height: 82px;
    text-align: center;
    position: absolute;
    display: inline-block !important;
}

.tuner-loading-block i {
    opacity: .3;
    color: #2196f3;
    line-height: 0;
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
    animation: icon-scale 1.5s infinite;
}

.tuner-loading-block i:before {
    content: 'I';
    font-style: italic;
}

.tuner-loading-path1 {
    animation-delay: 0s !important;
    transform-origin: 6% 50% 0;
}

.tuner-loading-path2 {
    animation-delay: .2s !important;
    transform-origin: 36% 50% 0;
}

.tuner-loading-path3 {
    animation-delay: .4s !important;
    transform-origin: 66% 50% 0;
}

.tuner-loading-path4 {
    animation-delay: .6s !important;
    transform-origin: 96% 50% 0;
}

@keyframes icon-scale {
    0%, to {
        opacity: .3;
        -webkit-transform: scale(1) translateZ(0);
        transform: scale(1) translateZ(0)
    }

    20%, 80% {
        opacity: .3;
        -webkit-transform: scale(1) translateZ(0);
        transform: scale(1) translateZ(0)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.7) translateZ(0);
        transform: scale(1.7) translateZ(0)
    }
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

::-webkit-scrollbar-thumb:active {
    background: #999;
}
