[doc360] header,
[doc360] .a_right,
[doc360] section ~ *,
[doc360] #arttopbdad,
[doc360] #copytoolbar,
[doc360] .floatqrcode,
[doc360] .fixedtoolbar,
[doc360] .article_data,
[doc360] .article_showall,
[doc360] .contextmenu,
[doc360] .atfixednav,
[doc360] #bevip__ ~ *,
[doc360] #bgchange ~ *,
[doc360] #upartcolor ~ *,
[doc360] #printArticle ~ *,
[doc360] #currbackgroudcolor ~ *,
[doc360] #goTop2 > div:first-child ~ * {
    display: none !important;
}

[doc360] #goTop2 > div:first-child {
    right: 20px;
    bottom: 20px;
    position: fixed;
}

[doc360] .article_maxh,
[doc360].articleMaxH .article_container {
    height: fit-content;
}

[doc360] .doc360article_content {
    margin: 0 !important;
    padding: 10px 20px !important;
    width: calc(100% - 40px) !important;
}

[doc360] .a_left,
[doc360] .a_left #bgchange,
[doc360] #articlecontent table,
[doc360] #articlecontent table pre {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}
