::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

::-webkit-scrollbar-thumb:active {
    background: #999;
}

[bing]:has(#b-scopeListItem-web.b_active) .tuner-page-frame {
    width: 1px;
    height: 1px;
    border: none;
}

[bing]:has(#b-scopeListItem-web.b_active) footer,
[bing]:has(#b-scopeListItem-web.b_active) #b_content aside,
[bing=iframe]:has(#b-scopeListItem-web.b_active) > :not(#b_content),
[bing=iframe]:has(#b-scopeListItem-web.b_active) ol#b_results li.b_pag,
[bing]:has(#b-scopeListItem-web.b_active) ol#b_results li.b_ans:has(#rs_lgw_list) {
    display: none !important;
}

[bing]:has(#b-scopeListItem-web.b_active) #b_results .b_rc_gb_window {
    max-height: fit-content;
}

[bing]:has(#b-scopeListItem-web.b_active) #b_results .b_rc_gb_sub.b_rc_gb_scroll {
    display: flex;
    height: fit-content;
    justify-content: space-evenly;
}

[bing]:has(#b-scopeListItem-web.b_active) #b_rc_gb_origin.b_rc_gb_sub .b_rc_gb_sub_column {
    max-width: 45%;
}

[bing]:has(#b-scopeListItem-web.b_active) ol#b_results li .map_intent_as {
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

[bing]:has(#b-scopeListItem-web.b_active) .pageRecoContainer .pagereco_TCntr {
    margin: 8px auto;
}

[bing]:has(#b-scopeListItem-web.b_active) ol#b_results li .dynMap,
[bing]:has(#b-scopeListItem-web.b_active) ol#b_results li.b_imgans .b_rich .iarnd.iaplanner.iacd .irpserp .irp {
    margin: 0 auto;
}

[bing]:has(#b-scopeListItem-web.b_active) #b_content {
    display: flex;
    padding: 180px 20px 30px;
}

[bing=iframe]:has(#b-scopeListItem-web.b_active) #b_content {
    padding: 0;
}

[bing]:has(#b-scopeListItem-web.b_active) main,
[bing]:has(#b-scopeListItem-web.b_active) #b_results {
    width: 100%;
}

[bing]:has(#b-scopeListItem-web.b_active) #b_results > li:not(#mfa_root):not(.b_pag) {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    background-color: #fff;
    overflow: visible;
    color: #303133;
    transition: .3s;
}

[bing]:has(#b-scopeListItem-web.b_active) header#b_header {
    left: 0;
    right: 0;
    z-index: 1010;
    position: fixed;
    box-shadow: 0 0 16px 0;
    backdrop-filter: blur(12px);
    background-color: transparent;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
}

[bing]:has(#b-scopeListItem-web.b_active) header#b_header,
[bing]:has(#b-scopeListItem-web.b_active) #b_content {
    margin: 0 auto;
    max-width: 1200px;
}

[bing]:has(#b-scopeListItem-web.b_active) #b_results > li:not(#mfa_root):not(.b_pag):hover {
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, .1) 0 0 12px 8px !important;
}

[bing]:has(#b-scopeListItem-web.b_active) #b_results > li:not(#mfa_root):not(.b_pag) h2 {
    border-bottom: 1px solid #ebeef5;
    box-sizing: border-box;
    padding: 5px 0;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

[bing]:has(#b-scopeListItem-web.b_active) #b_results > li.b_algo > div.b_title {
    display: flex;
    justify-content: space-between;
}

[bing]:has(#b-scopeListItem-web.b_active) #b_results > li.b_algo:not(.b_algoBorder):nth-child(n+5) > h2 {
    content-visibility: unset;
}

[bing]:has(#b-scopeListItem-web.b_active) #b_results > li:not(#mfa_root):not(.b_pag) h2:before {
    margin: 0;
    width: 5px;
    left: -10px;
    content: '';
    height: 20px;
    border: none;
    position: relative;
    border-radius: 2.5px;
    background-color: #2196f3;
}

[bing]:has(#b-scopeListItem-web.b_active) #b_results > li.b_ans ul.b_vList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

[bing]:has(#b-scopeListItem-web.b_active) #b_results > li.b_ans ul.b_vList > li {
    padding: 16px;
}

[bing]:has(#b-scopeListItem-web.b_active) #b_results > li.b_pag ul,
[bing]:has(#b-scopeListItem-web.b_active) #b_content #b_tween {
    display: flex;
}

[bing]:has(#b-scopeListItem-web.b_active) #b_results > li.b_imgans {
    overflow: unset !important;
}

[bing]:has(#b-scopeListItem-web.b_active) #b_results > li.b_pag ul {
    justify-content: center;
}

[bing]:has(#b-scopeListItem-web.b_active) #b_content #b_tween {
    justify-content: space-between;
}

html[lang='zh'] [bing]:has(#b-scopeListItem-web.b_active) div.wr_fav {
    margin-left: 0;
    line-height: 42px;
    position: absolute;
}

html[lang='zh'] [bing]:has(#b-scopeListItem-web.b_active) #b_results > li:not(#mfa_root):not(.b_pag) h2 {
    margin-left: 16px
}

html[lang='zh'] [bing]:has(#b-scopeListItem-web.b_active) #b_results > li:not(#mfa_root):not(.b_pag) h2::before {
    left: -26px;
}

[bing]:has(#b-scopeListItem-web.b_active) #b_header .b_searchboxForm {
    position: relative;
    left: 0;
}

[bing] .b_algo .b_tpcn .tpic {
    width: 28px;
}
