.top, .header div p, .nav, .subnav,
#btndowns, .down_right, .soft-left,
#downloads, #specialbox, .game02,
.game04, #downlist > *, #downloadbox,
.tit04, .soft-body .head, a.xza {
    display: none !important;
}

#downlist > .off ~ dd {
    display: block !important;
}

.soft-body {
    width: auto !important;
}

.down_left {
    float: right !important;
}

.down-info {
    height: auto !important;
}

.downlist {
    position: absolute;
    top: 200px;
    left: 100px;
}

.downbox {
    width: 0 !important;
    height: 0 !important;
}

#downloadbox {
    left: auto !important;
    right: 0 !important;
    bottom: auto !important;
    top: 20px !important;
}
