.J-authorPanel header,
.J-articlePanel ~ *, .J-footer,
.J-authorPanel ~ *, .J-sharingBar,
.J-authorPanel .com-author-intro-btns,
.J-authorPanel .com-author-intro-infos,
.J-authorPanel .com-author-intro-desc {
    display: none !important;
}

.com-3-layout {
    position: relative !important;
}

.J-authorPanel {
    padding: 0 !important;
    margin: 0 !important;
}

.layout-main {
    width: 100% !important;
    padding: 0 !important;
}

.layout-side {
    width: 120px !important;
    position: absolute !important;
    right: 0 !important;
}

.J-authorPanel .com-author-intro-object {
    margin: 5px 0 !important;
}

.com-author-intro-name {
    margin-bottom: 10px !important;
}
