html {
    overflow: auto !important;
}

.Modal-wrapper, .Modal-enter-done,
.Question-sideColumn, .SearchSideBar,
.AppHeader-inner ul, .AppHeader-inner a,
[aria-controls="Search-live"],
[aria-controls="Search-album"],
[aria-controls="Search-publication"],
[aria-controls="Search-clubentity"],
.AppHeader-userInfo {
    display: none !important;
}

.Question-mainColumn, .SearchMain,
.AppHeader-inner .SearchBar,
.AppHeader-inner .SearchBar-toolWrapper,
.AppHeader-inner .SearchBar-tool,
.AppHeader-inner .SearchBar-input {
    width: 100% !important;
}
