#container .pt10.clearfix,
#topbar, #header, #nav,
#right-share, #footer,
.xgcomm.clearfix, .main-right,
.lbd.clearfix, .normal_li ~ *,
#con_all, #mtab .tabNav,
#container .tonglan,
#container #param-content ~ *,
#container .softsfwtl, .art_xg,
#download .address-wrap ~ *,
#xgw1, #down4, #gaosu, .gs,
#container .tip ~ *, iframe,
.art_xg, .art_xg ~ * {
    display: none !important;
}

#container {
    width: calc(100% - 160px) !important;
}

#main .main-left, #content pre, #content code, li.address-wrap, #download, #param {
    width: 100% !important;
}

li.address-wrap {
    height: auto !important;
}

.search {
    margin: 5px auto !important;
}

#content {
    display: flex !important;
    flex-direction: column !important;
}

#mtab {
    height: auto !important;
}

#soft-info {
    order: 0 !important;
}

#download {
    order: -1 !important;
}

#sm {
    order: 1 !important;
}

#recomc {
    order: 2 !important;
}
