html {
    overflow-y: auto !important;
}

[baidu] div#searchTag,
[baidu] #s_wrap.s-isindex-wrap,
[baidu] [mu*="://b2b.baidu.com"],
[baidu] #container #content_right,
[baidu] #s-top-left.s-isindex-wrap,
[baidu] .s-isindex-wrap .s-top-nav,
[baidu] #bottom_space.s-bottom-space,
[baidu] #bottom_layer.s-isindex-wrap,
[baidu] [tpl="ads_b2c_universal_card"],
[baidu] [class*='first-item-sub-abs_'],
[baidu] #s_side_wrapper, [baidu] #foot,
[baidu] #container #rs, [baidu] .toindex,
[baidu] [mu*='.recommend_list.baidu.com'],
[baidu] .s_tab_inner [href^='/sf/vsearch'],
[baidu] .s_tab_inner [href*='wenku.baidu.com'],
[baidu] .s_tab_inner [href*='zhidao.baidu.com'],
[baidu] div.result-molecule.new-pmd:has(#rs_new),
[baidu] [href*='b2b.baidu.com'], [baidu] div.c-tools,
[baidu] .new-pmd .c-recommend, [baidu] .tuner-ads-block,
[baidu] #content_left > div.c-group-wrapper [class*="button-list_"] {
    display: none !important;
}

[baidu='wd'] {
    background-color: #f6f6f6;
}

[baidu='wd'] div[tpl='rel-timeline'] {
    display: flex;
}

[baidu='wd'] div[tpl='rel-timeline'] > div {
    width: 100%;
}

[baidu='wd'] #content_left {
    margin: 0 !important;
}

[baidu='wd'] #content_left > div.c-group-wrapper ul[class*='timeline_'] {
    width: auto;
}

[baidu='wd'] #content_left div.c-row > a.c-img {
    margin: 0 10px;
}

[baidu='wd'] #content_left .op-tieba-star-maintable td {
    padding: 0 10px;
}

[baidu] #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
    margin: 0 !important;
    width: auto !important;
}

[baidu] #head {
    display: flex;
    min-height: unset;
    justify-content: center;
}

[baidu='wd'] #head {
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.5);
    flex-direction: row-reverse;
}

[baidu] #head_wrapper {
    height: 100%;
}

[baidu] #head_wrapper .s_form {
    width: fit-content;
}

[baidu='wd'] div.wrapper_new {
    display: flex !important;
    align-items: center;
    flex-direction: column;
}

[baidu='wd'] div.wrapper_new #wrapper_wrapper {
    margin: 0;
}

[baidu='wd'] div.wrapper_new #head {
    max-width: 1200px;
}

[baidu='wd'] .wrapper_new .fm {
    margin: 15px 5px !important;
}

[baidu='wd'] .wrapper_new.wrapper_s .s_ipt_wr {
    width: calc(100% - 115px) !important;
}

[baidu='wd'] .wrapper_s .soutu-env-nomac #kw {
    width: calc(100% - 48px) !important
}

[baidu='wd'] .wrapper_new #s_tab.s_tab .s_tab_inner {
    padding: 0 !important;
    display: flex !important;
    justify-content: center;
}

[baidu='wd'] #head #head_wrapper,
[baidu='wd'] #head .head_wrapper {
    justify-content: center !important;
    width: fit-content !important;
    display: flex !important;
    margin: 0 !important;
}

[baidu='wd'] #u {
    position: relative;
}

[baidu='wd'] #container.sam_newgrid .search_tool_conter,
[baidu='wd'] #container.sam_newgrid .nums {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100% !important;
}

[baidu='wd'] .container_l.sam_newgrid {
    width: unset !important;
    margin: 0 !important;
}

[baidu='wd'], [baidu='wd'] .wrapper_new #head {
    min-width: unset !important;
}

[baidu] #s_tab, [baidu] #bdpcImgTab {
    padding: 72px 0 0 0 !important;
}

[baidu] #s_tab .s_tab_inner,
[baidu] #s_tab .tab-wrapper,
[baidu] #bdpcImgTab #bdpcImgTopTab {
    display: flex;
    justify-content: center;
}

[baidu] #content_left,
[baidu] .head_nums_cont_outer,
[baidu] .head_nums_cont_inner > div {
    width: 90% !important;
    min-width: 800px;
    max-width: 1200px;
}

/*[baidu] #container.sam_newgrid #content_left {*/
/*    min-width: 800px;*/
/*    max-width: 1200px;*/
/*}*/

[baidu] .new-pmd .c-span9,
[baidu] #content_left .result.c-container,
[baidu] #content_left .result-op.c-container {
    width: unset !important;
}

[baidu] #content_left {
    margin: 0 !important;
    padding: 0 !important;
}

[baidu] #content_left .new-pmd.c-container {
    width: 100% !important;
}

[baidu] #content_left .result,
[baidu] #content_left-op .result {
    color: #303133;
    transition: .3s;
    overflow: hidden;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    margin: 10px 0 !important;
    border: 1px solid #ebeef5;
    padding: 0 10px !important;
}

[baidu] #content_left .result,
[baidu] #content_left .result-op,
[baidu] #content_left-op .result {
    position: relative;
}

[baidu] #content_left .result:hover,
[baidu] #content_left .result-op:hover {
    background-color: white;
    box-shadow: 0 0 16px 0 #056de888 !important;
}

[baidu] #content_left .result h3,
[baidu] #content_left .result-op h3 {
    display: flex;
    padding: 5px 0;
    font-size: 20px;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-start;
    border-bottom: 1px solid #ebeef5;
}

[baidu] #content_left .result h3:before,
[baidu] #content_left .result-op h3:before {
    margin: 0;
    width: 5px;
    left: -14px;
    content: '';
    height: 20px;
    border: none;
    position: relative;
    border-radius: 2.5px;
    background-color: #2196f3;
}

[baidu] div[class*='video-wrapper_'] video {
    width: 100%;
    background-color: black;
}

[baidu] div[class*='video-wrapper_'][class*='show_'] ~ .c-row div.c-span12[class*='main-info_'] {
    width: 100%;
}

[baidu] #content_left .result .c-row:not([class*='select-wrapper_']):not([class*='video-wrapper_']),
[baidu] #content_left .result-op .c-row:not([class*='select-wrapper_']):not([class*='video-wrapper_']) {
    width: 100%;
    display: flex;
}

[baidu] div[class*='image-wallpaper-span_'] {
    width: fit-content;
}

[baidu] div[class*='image-wallpaper-card_'] div.c-row:not([class*='select-wrapper_']) {
    justify-content: center;
}

[baidu] div[class*='image-wallpaper-card_'] div[class*='image-tags-menu_'] {
    justify-content: space-evenly;
}

[baidu] #content_left .result .c-row .c-span3,
[baidu] #content_left .result-op .c-row .c-span3 {
    width: auto;
    position: relative;
}

div.op-short-video-pc-img-new {
    height: auto;
}

[baidu] #content_left .result-op[tpl="game-page-office"] .c-row > div {
    width: 100%;
}

[baidu] #content_left .result > div:not(.c-row),
[baidu] #content_left .result-op > div:not(.c-row),
[baidu] #content_left .c-row > div {
    margin: 5px 10px !important;
    top: 0 !important;
}

[baidu] #content_left .result-op .op-short-video-pc,
[baidu] #content_left .result-op .op-img-address-desktop-cont {
    border: none;
    margin: 0 !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    justify-content: space-evenly !important;
}

[baidu] #content_left .result-op .op-short-video-pc .c-row {
    margin: 0 5px !important;
}

[baidu] #content_left .result-op .op-img-address-link-menu {
    display: flex !important;
    justify-content: space-evenly !important;
}

[baidu] #page {
    display: flex;
    justify-content: center;
}

[baidu] #page [class^='page-inner'] {
    padding: 16px !important;
    display: inline-block;
    text-align: center;
}

[baidu] .op-img-address-divide-high {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

[baidu] .op-img-address-desktop-cont {
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

[baidu] #container.sam_newgrid #content_left .result-op {
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: white;
    box-sizing: border-box;
    min-width: 1000px;
    padding: 10px;
}

[baidu] #container.sam_newgrid #content_left table.result-op {
    margin: 0;
    width: 100%;
}

[baidu] #container.sam_newgrid #content_left table.result-op td {
    padding: 10px;
}

[baidu] #container.sam_newgrid #content_left table.result-op #op_wiseapp {
    margin: 0;
    padding: 0;
    width: 100%;
}

[baidu] #container.sam_newgrid .c-container .t,
[baidu] #container.sam_newgrid .c-container .c-title,
[baidu] #container.sam_newgrid #content_left table.result-op h3 {
    margin-left: 4px;
}

[baidu] #container div.new-pmd.c-container h3.c-title {
    margin-left: -6px;
}

[baidu] .new-pmd [class^=gameinfo_] .c-img-s {
    padding-bottom: unset !important;
    overflow: visible !important;
}

[baidu] .new-pmd [class*=platform-img_] {
    width: auto !important;
}

[baidu] [class^='image-one-line'] {
    display: flex;
    justify-content: center;
}

[baidu] [class^='image-normal-tags'] {
    display: flex;
    justify-content: space-evenly;
}

[baidu] [class^='content_'] .c-row {
    display: flex;
    margin: 0 !important;
    justify-content: space-evenly;
}

[baidu] [class*='video-main-title'] {
    max-width: 128px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

[baidu] tr[class^='op-tieba-novel-tr'] td {
    padding: 4px;
    font-size: 16px;
    width: fit-content;
}

[baidu] tr[class^='op-tieba-novel-tr'] td:last-child {
    text-align: right;
}

[baidu] .newTimeFactor_before_abs,
[baidu] .new-pmd span.c-color-gray2 {
    width: 72px;
    margin: 0 8px;
    text-align: center;
    color: #409eff !important;
    border: 1px solid #d9ecff;
    background-color: #ecf5ff;
}

[baidu] #content_left div.new-pmd span.c-color-gray2 ~ a {
    width: calc(100% - 256px);
}

[baidu] #content_left div.new-pmd span.c-color-gray2 ~ div {
    margin: 0 !important;
}

[baidu] div[class*='first-item-title'],
[baidu] div[class*='c-gap-bottom-mini'] {
    margin-bottom: 3px;
    justify-content: space-between;
}

[baidu] .newTimeFactor_before_abs,
[baidu] .c-gap-top-small span.c-color-gray2,
[baidu] .c-gap-top-middle span.c-color-gray2 {
    top: 10px;
    right: 100px;
    padding: 0 8px;
    position: absolute;
    white-space: nowrap;
    width: fit-content !important;
}

[baidu] .newTimeFactor_before_abs > *,
[baidu] .c-gap-top-small span.c-color-gray2,
[baidu] .c-gap-top-middle span.c-color-gray2 {
    color: #409eff !important;
}

[baidu] a.kuaizhao,
[baidu] [data-click*='snapshot'] {
    top: 10px;
    right: 10px;
    padding: 0 8px;
    border-radius: 4px;
    position: absolute;
    display: inline-block;
    color: #555 !important;
    border: 1px solid #dadada;
    transition: background-color 500ms;
    background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
}

[baidu] a.kuaizhao:hover,
[baidu] .new-pmd .kuaizhao:hover,
[baidu] .new-pmd .snapshoot:hover,
[baidu] [data-click*='snapshot']:hover {
    background-color: rgba(144, 147, 153, .8);
}

[baidu] #wrapper #con-at {
    padding: 0;
}

[baidu] .wrapper_l #con-at .result-op {
    display: flex;
    justify-content: center;
}

[baidu] .wrapper_l #con-at .result-op [class*='boiling-all_'] {
    margin-left: 0;
}

[baidu] [tpl="sp_hot_sale"] .c-row {
    justify-content: space-evenly;
}

[baidu] [class*='sku-item_'] {
    display: flex;
    align-items: center;
    flex-direction: column;
}

[baidu] [class*='sku-item_'] [class*='desc_'] {
    width: 128px;
}

[baidu] [class*='sku-item_'] a {
    padding: 0;
    display: contents;
}

[baidu] [class*='sku-item_'] a img {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
}

[baidu] [class*='sku-item_'] a img:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .3);
}

[baidu] [class*='sku-item_'] a span {
    display: none;
}

[baidu] .op_dict3_lineone_result {
    width: 100%;
}

[baidu] .op_dict3_linetwo_result {
    width: 100%;
    padding-left: 90px;
}
