html {
    overflow-y: auto !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

::-webkit-scrollbar-thumb:active {
    background: #999;
}

[baidu] #s-top-left.s-isindex-wrap,
[baidu] #s_wrap.s-isindex-wrap,
[baidu] #bottom_layer.s-isindex-wrap,
[baidu] .s-isindex-wrap .s-top-nav,
[baidu] #bottom_space.s-bottom-space,
[baidu] #s_side_wrapper, [baidu] #foot,
[baidu] #container #rs, [baidu] .toindex,
[baidu] #container #content_right,
[baidu] [href^='/sf/vsearch'],
[baidu] [href*='zhidao.baidu.com'],
[baidu] [href*='wenku.baidu.com'],
[baidu] [href*='b2b.baidu.com'],
[baidu] [mu*='.recommend_list.baidu.com'],
[baidu] .new-pmd .c-recommend, [baidu] .tuner-ads-block,
[baidu] #content_left > div:not(.result):not(.result-op) {
    display: none !important;
}

[baidu] #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
    width: auto !important;
}

[baidu] #head {
    min-height: unset;
}

[baidu='wd'] #head {
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.5);
}

[baidu] #head_wrapper {
    height: 100%;
}

[baidu='wd'] .wrapper_new .fm {
    margin: 15px 5px !important;
}

[baidu='wd'] .wrapper_new.wrapper_s .s_ipt_wr {
    width: calc(100% - 115px) !important;
}

[baidu='wd'] .wrapper_s .soutu-env-nomac #kw {
    width: calc(100% - 48px) !important
}

[baidu='wd'] #head_wrapper,
[baidu='wd'] .head_wrapper {
    display: flex;
    justify-content: center;
}

[baidu='wd'] #u {
    position: relative;
}

[baidu='wd'] .c-result-content article section .c-row {
    flex-wrap: wrap;
}

[baidu='wd'] .c-result-content article section .c-row > div:first-of-type {
    width: 100%;
    flex-grow: 3;
}

[baidu='wd'] .c-result-content article section .c-row > div:last-of-type {
    flex-grow: 1;
    width: 0 !important;
}

[baidu='wd'] #container.sam_newgrid .search_tool_conter,
[baidu='wd'] #container.sam_newgrid .nums {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100% !important;
}

[baidu='wd'] .container_l.sam_newgrid {
    width: unset !important;
    margin: 0 !important;
}

[baidu='wd'], [baidu='wd'] .wrapper_new #head {
    min-width: unset !important;
}

[baidu] #s_tab, [baidu] #bdpcImgTab {
    padding: 60px 0 0 0 !important;
}

[baidu] #s_tab .s_tab_inner,
[baidu] #s_tab .tab-wrapper,
[baidu] #bdpcImgTab #bdpcImgTopTab {
    display: flex;
    justify-content: center;
}

[baidu] #content_left,
[baidu] .head_nums_cont_outer,
[baidu] .head_nums_cont_inner > div {
    width: 80% !important;
}

[baidu] .new-pmd .c-span9,
[baidu] #content_left .result.c-container,
[baidu] #content_left .result-op.c-container {
    width: unset !important;
}

[baidu] #content_left,
[baidu] #content_left .new-pmd.c-container {
    padding: 0 !important;
}

[baidu] #content_left .new-pmd.c-container {
    width: 100% !important;
}

[baidu] #content_left .result,
[baidu] #content_left-op .result {
    padding: 10px !important;
    margin: 10px 0 !important;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    background-color: #fff;
    overflow: hidden;
    color: #303133;
    transition: .3s;
}

[baidu] #content_left .result:hover,
[baidu] #content_left .result-op:hover {
    background-color: #ecf5ff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1) !important;
}

[baidu] #content_left .result h3,
[baidu] #content_left .result-op h3 {
    border-bottom: 1px solid #ebeef5;
    box-sizing: border-box;
    padding: 5px 0;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

[baidu] #content_left .result .c-row,
[baidu] #content_left .result-op .c-row {
    display: flex;
}

[baidu] #content_left .result > div:not(.c-row),
[baidu] #content_left .result-op > div:not(.c-row),
[baidu] #content_left .c-row > div {
    margin: 5px 10px !important;
    top: 0 !important;
}

[baidu] #content_left .new-pmd > p,
[baidu] #content_left .new-pmd .c-gap-top-large {
    margin: 5px 10px !important;
}

[baidu] #content_left .result-op .op-short-video-pc,
[baidu] #content_left .result-op .op-img-address-desktop-cont {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 !important;
}

[baidu] #content_left .result-op .op-short-video-pc .c-row {
    margin: 0 5px !important;
}

[baidu] #content_left .result-op .op-img-address-link-menu {
    display: flex !important;
    justify-content: space-evenly !important;
}

/*[baidu] #content_left .result h3::before {*/
/*    content: '';*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    margin: 0 5px;*/
/*    display: inline-block;*/
/*    background-size: 100%;*/
/*    background-image: url("https://baidu.com/favicon.ico");*/
/*}*/

[baidu] #page {
    display: flex;
    justify-content: center;
}

[baidu] #page .page-inner {
    padding: 16px !important;
    display: inline-block;
}
