html.shark-webp {
    overflow: auto !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

::-webkit-scrollbar-thumb:active {
    background: #999;
}

.layout-Main {
    overflow: auto;
    min-width: unset !important;
}

.layout-Main, .layout-Module {
    position: fixed !important;
    top: 60px !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    z-index: 999 !important;
    background-color: white !important;
}

.layout-Module {
    right: 26px !important;
    left: 26px !important;
}

.ScrollTabFrame-wrapper {
    overflow: visible;
    position: absolute !important;
    top: 0 !important;
}

.ScrollTabFrame-layoutContainer {
    overflow: visible;
    padding: 0 !important;
}

.layout-Main .Recommend-wrapper,
.ScrollTabFrame-head::before,
.ScrollTabFrame-head::after,
.ScrollTabFrame-head .AdView,
.FilterTab-cateBtn {
    display: none !important;
}

.ScrollTabFrame-head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    position: unset !important;
}

.ScrollTabFrame-head .SortTabs {
    position: relative;
}

.ScrollTabFrame-head * {
    display: inline-block;
}

.ScrollTabFrame-head .FollowList-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ScrollTabFrame-head .layout-Module-filter-list {
    max-width: unset !important;
}

.ScrollTabFrame-head .FollowList-tabs {
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 100%;
    top: -24px;
}

.ScrollTabFrame-head .SortTabs {
    height: 34px;
    top: 0;
}

.ScrollTabFrame-head .BranchTool {
    vertical-align: top;
    line-height: 38px;
    height: 38px;
    margin: 0;
}

.ScrollTabFrame-title {
    width: 120px !important;
    margin: 0 !important;
}

.layout-Module-extra {
    margin: 6px 10px !important;
    height: 22px !important;
    z-index: 999 !important;
}

i.BranchTool-selector-icon {
    margin: 10px 0 !important;
}

.layout-Module-extra .VideoTab-container {
    margin: 0 !important;
}
