#sideBar, #div_digg, #ad_text_under_commentbox ~ *, #green_channel, #main ~ * {
    display: none !important;
}
#mainContent {
    width: 100% !important;
    margin: 10px !important;
}
#author_profile_info {
    display: inline-block !important;
    margin: 10px !important;
}
#author_profile_info ~ .clear {
    display: inline-block !important;
}
#main {
    position: relative !important;
    width: 1080px !important;
}
#main, #mainContent .forFlow {
    margin: 0 auto !important;
}
body  {
    background-size: 100% !important;
}
#header {
    background: none !important;
}
